* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.navbar {
  background: #ffffff;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  color: #4f46e5;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.hero {
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  background: white;
  color: #4f46e5;
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 70px 20px;
}

.feature-card {
  background: white;
  padding: 30px;
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}


.cta {
  background: #4f46e5;
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.cta button {
  margin-top: 15px;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #4f46e5;
  font-size: 16px;
}


footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}
